@import "src/colors";

.ui.modal.SubjectModal {
  .content {
    .description {
      display: flex;
      justify-content: center;
      align-items: center;

      .ui.input {
        width: 400px;

        input {
          color: $color_grey;

          &:focus {
            color: $color_green;
            border-color: $color_green;
          }
        }
      }
    }
  }
}
