@import "src/colors";

.CustomSelect {
  position: relative;
  width: 250px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;

  &.active {
    border-color: $color_green;
  }

  & > span {
    display: block;
    width: inherit;
    height: inherit;
    padding: 3px 15px;
    font-size: 16px;
    cursor: pointer;
    color: #ccc;

    &.chosen {
      color: #000;
    }
  }

  .items {
    position: relative;
    top: -1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    width: 100%;
    min-height: 36px;
    max-height: 120px;
    overflow-y: scroll;
    background: #fff;

    span {
      display: block;
      width: 100%;
      padding: 8px 15px;
      border-bottom: 1px solid #ddd;
      cursor: pointer;

      &:hover {
        background: #eee;
      }
    }
  }
}
